plugins {
  id 'nf-azure'
}

profiles {
  az_test {
    workDir = "az://glmeiv/work"

    process {
      executor = 'azurebatch'
      container = 'samsondsc/glmeiv:1.0'
    }

    azure {
      batch {
        location = 'eastus'
        accountName = 'pooledcrispr'
        accountKey = 'vu3aucjDL1ZcCZ8xJb3IWa5KNlpFEtQErn5Jxj+hrHnj9sHiStoY+cd4ZkoajXhY6qdB/ZJjU7i3mdUma3cweQ=='
        autoPoolMode = true
        deletePoolsOnCompletion=true
      }
      storage {
        accountName = 'crisprstorage'
        accountKey = 'zpFskqgHRLp2vV77O8xgGQ0J0X47um+jTCKjpYMKQvKGxvA+agE7hmXsWA9FoevFTpPySsMoM2TcUSzywUkiMg=='
      }
    }
  }

  local {
    process {
      container = 'samsondsc/glmeiv:1.0'
    }
  }
}
